.kunye {text-align:left;text-indent:0em;margin-top:0em;margin-left:1em;margin-bottom:0em;font-size: 0.7em;}

.logo {margin-top:5em;text-indent:0em;text-align:center;}

.logo1 {text-indent:0em;text-align:center;}

.baslik {text-align:center;font-weight:normal;text-indent:0em;font-size:1.4em;margin-top:2em;margin-bottom:0.5em;}

.baslik2{text-align:center;font-style:bold;font-size:2.5em;text-indent:0em;margin-top:0em;margin-bottom:0.6em;}

.baslik3 {text-align:center;text-indent:0em;font-size:.8em;margin-top:4em;margin-bottom:0em;}

.baslik4 {text-align:center;font-size:.8em;text-indent:0em;margin-top:.2em;margin-bottom:.2em;}

.baslik45{text-align:center;font-size:.95em;text-indent:0em;margin-top:2em;margin-bottom:7em;}