/* --- start affected by epubFix ---
Note: repeated instances of "text-align:center;" are normal */
/* --- end affected by epubFix --- */
@page {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
body {
  margin-bottom: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
}
.center {
  text-align: center;
}
.ded {
  display: block;
  font-size: small;
  text-align: center;
  text-indent: 0;
  margin-top: 6em;
  font-style: italic;
}
.fmh {
  display: block;
  font-size: large;
  text-align: center;
  text-indent: 0;
  font-family: sans-serif;
  margin-top: 6em;
  margin-bottom: 4em;
}
.cfmh {
  display: block;
  font-size: x-small;
  text-align: center;
  text-indent: 0;
  font-style: italic;
}
.ccn {
  display: block;
  font-size: small;
  text-align: center;
  text-indent: 0;
}
.cbmh {
  display: block;
  font-size: x-small;
  text-align: center;
  text-indent: 0;
  font-style: italic;
}
.cn {
  display: block;
  font-size: large;
  text-align: center;
  text-indent: 0;
  font-family: sans-serif;
  margin-top: 6em;
  margin-bottom: 4em;
}
.cotx1 {
  display: block;
  font-size: small;
  text-align: justify;
  text-indent: 0;
}
.tx {
  display: block;
  font-size: small;
  text-align: justify;
  text-indent: 1em;
}
.tx1 {
  display: block;
  font-size: small;
  text-align: justify;
  text-indent: 0;
}
.ls2 {
  display: block;
  margin-bottom: 2em;
}
span.big {
  font-size: large;
}
p.indent {
  text-indent: 1em;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}
p.nonindent {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}
.cbmh1 {
  display: block;
  font-size: x-small;
  text-align: center;
  text-indent: 0;
  font-style: normal;
}
p.center {
  text-align: center;
  margin-top: 3em;
}
p.centera {
  text-align: center;
}
a.hlink {
  text-decoration: none;
}
div.copyright {
  font-size: small;
  text-align: center;
  margin-top: 4em;
}
p.crt {
  text-align: center;
}
p.center4 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.7em;
}
span.large1 {
  font-size: 1.3em;
}
span.large {
  font-size: large;
}
p.center9 {
  text-align: center;
  margin-top: 2em;
}
h1.chapter8 {
  font-size: medium;
  text-align: right;
  font-weight: bold;
  line-height: 2em;
  margin-top: 3em;
  margin-bottom: 6em;
  font-family: sans-serif;
}
span.dropcaps3line {
  font-size: 5em;
  line-height: 0.7;
  float: left;
  margin: 0 0.05em 0 0;
  font-family: sans-serif;
}
p.center10 {
  text-align: center;
  line-height: 1.9em;
  margin-top: 0.5em;
}
a.pubhlink {
  color: #4c7aa9;
}
a.hlink {
  text-decoration: none;
}
h1.otherbooks {
  text-align: center;
  font-size: medium;
  margin-bottom: 1em;
  margin-top: 4em;
}
p.extract {
  text-align: justify;
  margin-top: 2em;
  text-indent: 0;
}
p.extract3 {
  text-align: justify;
  margin-top: 3em;
  text-indent: 0;
}
span.small0 {
  font-size: small;
}
img.full {
  page-break-inside: avoid;
}
